/* h1: selector
    color: property
    red: value
*/

h1 {
    color: red; /* declaration */
    font-size: 32px; /* declaration */
    background-color: green;
    text-align: center;
    text-transform: lowercase;
    text-transform: capitalize;
    text-indent: 5px;
    word-spacing: 5px;
    letter-spacing: 5px;
    line-height: 2;
}

.p1 {
    background-color: green;
    text-emphasis-color: white; 
    font-size: 22px;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 10px; 
    border-style: dotted;
}

.p2 {
    background-color: blue;
    text-emphasis-color: white; 
    font-size: 22px;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 10px; 
    border-style: dotted;
}

#p2 {
    background-color: green;
    text-color: white;
    font-weight: bold;
    text-decoration: underline;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    border-radius: 10px; 
    border-style: dotted;       
}

body {
    background-color: white;
    background-image: url(Pasted\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
    background-attachment: fixed;
}

.info_box1{
    width: 500px;
    height: 500px;
    background-color: blue;
    border: 5px solid red;
    margin: auto;
        }

.info_box2{
    width: 400px;
    height: 400px;
    background-color: black;
    border: 5px solid red;
    padding: 50px 20px 90px 80px;
    margin: auto;
         }

.p3
  {
    margin: 50px;
    border: 5px solid red;
    outline-width: 5px;
    outline-style: dotted;
    outline-color: blue;
    outline-offset: 10px;
  }


