/* h1: selector
    color: property
    red: value
*/

h1 {
    color: red; /* declaration */
    font-size: 32px; /* declaration */
    background-color: green;
}

.p1 {
    background-color: green;
    text-emphasis-color: white; 
    font-size: 22px;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 10px; 
    border-style: dotted;
}

#p2 {
    background-color: green;
    text-color: white;
    font-weight: bold;
    text-decoration: underline;
    border-width: 10px;
    border-style: solid;
    border-color: red;
    border-radius: 10px; 
    border-style: dotted;       
}

body {
    background-color: white;
    background-image: url(Pasted\ image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
    background-attachment: fixed;

}





